@charset "UTF-8";
/*!
Theme Name: MyTheme
Theme URI: http://marcharriss.com;
Author: Marc Harriss
Author URI: http://marcharriss.com;
Description: This is my first custom theme, I am building it off of a start theme called underscore.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: marcharriss.com
Tags: 

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Remove outline on links and buttons in firefox */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans|Nunito:700");
button::-moz-focus-inner {
  border: 0;
}

a:focus {
  outline: none;
}

/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: none;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito Sans", sans-serif;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  appearance: textfield;
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  appearance: button;
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  letter-spacing: -0.003em;
}

p {
  margin: 0 0 1.5em 0;
  line-height: 1.58;
  color: #141414;
  font-size: 17px;
  letter-spacing: -0.003em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  font-size: 1.4em;
  margin: 1em;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 0.2em 55px;
  border-left: 8px solid #6989ad;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

blockquote::before {
  font-family: Arial;
  content: "“";
  color: #6989ad;
  font-size: 3em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
  width: 10px;
  height: 10px;
  color: #123012;
  position: absolute;
  left: 10px;
  top: -10px;
}

address {
  margin: 0 0 1.5em;
}

pre {
  overflow: auto;
  tab-size: 1;
  white-space: pre;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #333;
  background-color: #f4f5f6;
  border-radius: 0.2rem;
}

tt, var {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  margin: 1em;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: border-box;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.site-branding input[type=submit] {
  display: none;
}

input.search-field {
  width: 100%;
  height: 50px;
  padding: 10px;
}

#text-field-container {
  padding: 0 10px;
}

button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button,
input[type=button],
input[type=reset] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  font-family: "Nunito Sans", sans-serif;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

.form-submit {
  display: none;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: var(--link-main);
  text-decoration: none;
  transition: var(--transition);
}

a:visited {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: var(--link-hover);
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## posts
--------------------------------------------------------------*/
.entry-title {
  margin: 0.5em auto 0 auto;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  /* margin: 1.5em 20px; */
  display: block;
  overflow: hidden;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.cat-links {
  display: block;
}

.tags-links {
  display: block;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

aside {
  padding: 10px;
  margin-bottom: 1em;
  font-style: italic;
  border-radius: 6px;
}
aside.success {
  background-color: var(--aside-success);
  color: white;
  /* border-left: 2px solid #6ac174; */
}
aside.success a {
  color: #142231;
}
aside.success a:hover {
  color: #305072;
}
aside.warning {
  background-color: var(--aside-warning);
}
aside.danger {
  background-color: var(--aside-danger);
}

/* HLJS STYLES */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment, .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag, .hljs-keyword, .hljs-formula {
  color: #c678dd;
}

.hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
  color: #98c379;
}

.hljs-built_in, .hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
  color: #d19a66;
}

.hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/* .hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: rgb(43, 136, 0) !important;
}

.hljs-title {
    color: white !important;
}
.hljs-number {
    color: orange !important;
}

.hljs-keyword {
    color: rgb(255, 243, 77);
}

.hljs,
.hljs-subst {
  color: rgb(255, 255, 255) !important;
  background-color: #333 !important;
  overflow: scroll;
} */
.site-header {
  background: var(--main-blue-fallback);
  background: var(--main-blue-gradient-webkit);
  background: radial-gradient(92% 91% at bottom center, #115e99 0, #010e28 98%);
}

.site-header-cat {
  background: radial-gradient(92% 91% at bottom center, #118299 0, #010e28 98%), linear-gradient(-180deg, rgba(17, 44, 153, 0.5), rgba(17, 44, 153, 0) 36%);
}

.site-header-post {
  background: radial-gradient(92% 91% at bottom center, #991180 0, #010e28 98%), linear-gradient(-180deg, rgba(17, 44, 153, 0.5), rgba(17, 44, 153, 0) 36%);
}

.header-container {
  color: white;
  width: 100%;
  height: calc(100vh - 153px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 2em;
  min-height: 465px;
}
.header-container.sm {
  height: calc(40vh - 153px);
}
.header-container > .site-branding {
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
}
.header-container > .site-branding .site-title {
  width: 100%;
  font-size: 48px;
  letter-spacing: 1px;
}
.header-container > .site-branding .site-title a {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
}
.header-container > .site-branding .site-title a:hover, .header-container > .site-branding .site-title a:focus, .header-container > .site-branding .site-title a:active {
  color: white;
}
.header-container > .site-branding .site-description {
  font-size: 17px;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: white;
}
.header-container > .site-branding .social-links {
  margin-bottom: 1.5rem;
  font-size: 24px;
}
.header-container > .site-branding .social-links > a {
  margin-right: 20px;
  transition: all 0.15s ease-in-out;
}
.header-container > .site-branding .social-links > a > i {
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.header-container > .site-branding .social-links > a.github:hover {
  color: var(--github);
}
.header-container > .site-branding .social-links > a.twitter:hover {
  color: var(--twitter);
}
.header-container > .site-branding .social-links > a.linkedin:hover {
  color: var(--linkedIn);
}

/* CUSTOM PALLETTE FROM MYCOLOR.SPACE */
/*
 * MAIN                 MATCHING    Highlighs
 * #243B55              #243B55     rgb(105, 137, 173)
 * #00637F              #465072
 * #008E96              #6C658D
 * #1EB893              #967AA6
 * #8EDC80              #C28FBA
 * #F9F871              #EEA5CB
 *                      
 */
:root {
  --main-blue-fallback: #141E30;
  /* fallback for old browsers */
  --main-blue-gradient-webkit: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  --main-blue-gradient: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --main-blue: #243B55;
  --main-blue-highlight: rgb(105, 137, 173);
  --main-lightblue: #00637F;
  --main-gray-background: #f5f8fb;
  --secondary-lightblue: #008E96;
  --link-main: rgb(105, 137, 173);
  --link-hover: rgb(111, 178, 255);
  --aside-success: #6ac174;
  --aside-warning: #F9E471;
  --aside-danger: #d48589;
  --github: #9274c5;
  --twitter: #1DA1F2;
  --linkedIn: #0073b1;
  --box-shadow: 1px 1px 10px #e7e7e7;
  --box-shadow-hover: 0 15px 20px rgba(0,0,0,.1);
  --transition: all .1s ease-in-out;
}

/************************************************************* */
/*********************** Custom Items ************************ */
/************************************************************* */
.btn-submit {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-submit:hover {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

/*********************** styling ************************ */
@media screen and (max-width: 599px) {
  input.search-field {
    height: 35px !important;
    display: none;
  }

  body p {
    margin-bottom: 0.5rem !important;
    font-size: 15px;
  }

  .site-title {
    font-size: 32px;
    margin-bottom: 0.5em;
  }

  .post-container {
    margin: 10px auto;
    padding: 0.5em;
    box-shadow: none;
  }

  .container {
    padding: 0 0.5em;
  }

  header > .header-container-sm {
    margin: 0 0.5em;
    padding: 0;
  }

  article.home-hentry {
    padding: 3rem 0.5rem 3rem;
  }

  article.home-hentry h2 a {
    font-size: 28px;
    line-height: 28px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  input.search-field.aa-input {
    height: 35px !important;
  }

  div.social-links {
    margin-bottom: 0.5em !important;
    font-size: 15px !important;
  }

  body, input {
    font-size: 0.8rem !important;
  }

  body p {
    margin-bottom: 0.5rem !important;
    font-size: 15px;
  }

  .site-title {
    font-size: 24px !important;
    margin-bottom: 0.5rem !important;
  }

  .post-container {
    margin: 10px auto !important;
    padding: 0.5em !important;
  }

  .container {
    padding: 0 0.5em !important;
  }

  header > .header-container-sm {
    margin: 0 0.5em !important;
    padding: 0 !important;
  }

  article.home-hentry {
    padding: 3rem 0.5rem 3rem !important;
  }

  article.home-hentry > .container > h2 > a {
    font-size: 28px !important;
    line-height: 28px !important;
  }

  .home-hentry > .container > p.excerpt {
    padding: 0.5rem 0 !important;
    font-size: 17px !important;
  }
}
footer.site-footer {
  height: 100px;
  background: var(--main-blue-fallback);
  background: var(--main-blue-gradient-webkit);
  background: var(--main-blue-gradient);
  width: 100%;
  text-align: center;
}
footer.site-footer > .site-info {
  line-height: 100px;
  color: white;
}

code {
  background-color: #333;
  color: white;
  font-family: monospace;
  border-radius: 6px;
  padding: 15px;
  display: inline-block;
  width: 100%;
}

cite {
  position: relative;
  display: block;
  color: #6989ad;
}

#progress {
  position: fixed;
  border-bottom: 4px solid #6989ad;
  top: 0;
  left: 0;
  z-index: 99;
}

a.subcats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 150px;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  padding: 15px 5px;
  margin: 2px;
  font-size: 0.9rem;
  font-weight: 400;
  background: #fff;
  color: #111;
  font-family: Nunito, sans-serif;
  border: 1px solid #f0f0f0;
  transition: all 0.1s linear;
  width: 100%;
  justify-content: space-between;
}

a.subcats:hover {
  -webkit-transform: translate3D(0, -2px, 0) scale(1.01);
  transform: translate3D(0, -2px, 0) scale(1.01);
  background: #fff;
  text-decoration: none;
  color: #222;
  -moz-box-shadow: var(--box-shadow-hover);
  -webkit-box-shadow: var(--box-shadow-hover);
  box-shadow: var(--box-shadow-hover);
}

a.subcats > img {
  max-height: 75px;
  max-width: 170px;
  margin: auto;
}

a.subcats > p {
  margin: 0;
  color: #6989ad;
}

.site-content {
  background-color: var(--main-gray-background);
}
.site-content .container-lg {
  width: 100%;
  text-align: center;
  margin: 0 auto 0em auto;
}
.site-content .home-subtitle {
  background-color: white;
  -moz-box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  display: inline-block;
}
.site-content .home-site-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.site-content .home-site-main .grid {
  margin: 0 auto 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.site-content .home-site-main .home-hentry a img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  height: 100px;
  width: 100px;
  margin: 0 auto 2rem;
  margin-top: 7px;
}
.site-content .home-site-main .home-hentry {
  text-align: center;
  padding: 6rem 2rem 6rem;
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-radius: 6px;
  position: relative;
  transition: all 0.1s linear;
  width: 100%;
}
.site-content .home-site-main .home-hentry:nth-of-type(2n) {
  background-color: white;
  -moz-box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.site-content .home-site-main .home-hentry .container {
  width: 100%;
  max-width: 1130px;
  text-align: left;
  margin: 0 auto;
  padding: 0 2em;
}
.site-content .home-site-main .home-hentry .container > h2 > a {
  color: #222;
  line-height: 48px;
  font-size: 48px;
  color: #333;
  display: block;
}
.site-content .home-site-main .home-hentry .container > h2:hover > a {
  text-decoration: underline;
}
.site-content .home-site-main .home-hentry .container > p.excerpt {
  font-size: 19px;
  padding: 1.5rem 0;
}
.site-content .home-site-main .home-hentry .container .home-entry-footer {
  display: block;
  font-size: 0.85rem;
  width: 100%;
  text-align: right;
}

.post-container {
  margin: 20px auto;
  width: 100%;
  max-width: 1130px;
  text-align: left;
  padding: 2em;
  background-color: white;
  -moz-box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.content-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 2em;
}

.sticky {
  display: block;
}

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 7px;
}

ul#primary-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  padding-top: 60px;
  transition: 0.5s;
  /* position: fixed;
     top: 0;
     right: 0;
     width: 0;
     background: #fff;
     padding-top: 60px;
     height: 100%;
     border-bottom: 2px solid #f2f2f2;
     z-index: 1500;
     -webkit-transition: -webkit-transform 150ms ease-in-out,left 500ms ease-in-out;
     -moz-transition: -moz-transform 150ms ease-in-out,left 500ms ease-in-out;
     transition: transform 150ms ease-in-out,left 500ms  */
}

button.menu-toggle {
  display: block;
  position: absolute;
  background: none;
  border: none;
  top: 0;
  right: 0;
  padding: 10px 10px 35px 35px;
  color: white;
  transition: all 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  /* width: 200px; */
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  /* float: right;
  position: relative; */
}

/* .main-navigation > div > ul > li:last-of-type::after { */
/* content: '\25CF'; */
/* content: ' | ';
    position: absolute;
    right: -3%;
    font-size: 9px;
    top: 39%;
    color: rgb(255, 255, 255);
} */
/* .main-navigation > div > ul > li:not(:last-of-type)::after {
	content: ' | ';
	position: absolute;
	right: -4%;
	top: 28%;
	color: #00b9eb;
} */
.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #d9d9d9;
}

.main-navigation a:hover {
  color: #fff;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
  cursor: "pointer";
}

.menu-toggle {
  display: none;
}

.main-navigation ul {
  display: block;
}

ul#primary-menu {
  flex-direction: row;
}

/* nav.menu-primary-container {
	display: block;
	top: 0;
	right: 0;
	width: unset;
	position: absolute;
} */
nav.main-navigation {
  background: 0 0;
  border: 0;
  padding-top: 0px;
  position: absolute;
  /* width:100%; */
}

button.menu-toggle {
  display: none;
  cursor: "pointer";
}

/*********************** tags ************************ */
div.tags {
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: bold;
}

div.tags-header {
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
  max-width: 1130px;
}

div.tags-header > p {
  color: white;
  margin-bottom: 0;
}

span.tag {
  font-size: 13px;
  margin: 2px;
  padding: 12px;
  color: white;
  background-color: #9a4ff0;
  border-radius: 3px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 3px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  border-radius: 3px;
}

span.js {
  color: #333;
  background-color: #f0dc4f;
}
span.nodejs {
  background-color: #6ab04d;
}
span.apache {
  background-color: #842879;
}
span.linux {
  background-color: #414141;
}
span.terminal {
  background-color: #414141;
}
span.bootstrap {
  background-color: #481b88;
}
span.css {
  background-color: #28aae1;
}
span.html {
  background-color: #e34c25;
}
span.jquery {
  background-color: #1068ad;
}
span.jekyll {
  background-color: #c10000;
}
span.docker {
  background-color: #099cec;
}
span.git {
  background-color: #f34f29;
}
span.grunt {
  color: #333;
  background-color: #fba919;
}
span.sass {
  background-color: #cd6799;
}
span.ubuntu {
  background-color: #e95420;
}
span.mongodb {
  background-color: #589636;
}

@media screen and (max-width: 599px) {
  div.tags-header {
    width: 100%;
    margin: 0;
  }

  span.tag {
    padding: 8px;
    font-size: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  div.tags-header {
    width: 100%;
    margin: 0;
  }

  span.tag {
    padding: 8px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
