aside {
    padding: 10px;
    margin-bottom: 1em;
    font-style: italic;
    border-radius: 6px;

    &.success {
        background-color:  var(--aside-success);
        color: white;
        /* border-left: 2px solid #6ac174; */
        
        a {
            color: rgb(20, 34, 49); 
            
            &:hover {
                color: rgb(48, 80, 114); 
            }
        }
    }

    &.warning {
        background-color: var(--aside-warning);
    }

    &.danger {
        background-color: var(--aside-danger);
    }
}