code {
    background-color: #333;
    color: white;
    font-family: monospace;
    border-radius: 6px;
    padding: 15px;
    display: inline-block;
    width: 100%;
}

cite {
    position: relative;
    display: block;
    color: rgb(105, 137, 173);
}

#progress {
    position: fixed;
    border-bottom: 4px solid rgb(105, 137, 173);
    top: 0; left: 0;
    z-index:99;
}