footer.site-footer {
    height: 100px;
    background: var(--main-blue-fallback);
    background: var(--main-blue-gradient-webkit);
    background: var(--main-blue-gradient);
    width: 100%;
    text-align: center;

    > .site-info {
        line-height: 100px;
        color: white;
    }
}
