.site-header {
    background: var(--main-blue-fallback);  
    background: var(--main-blue-gradient-webkit);  
    background: radial-gradient(92% 91% at bottom center,#115e99 0,#010e28 98%); 
}

.site-header-cat {
background: radial-gradient(92% 91% at bottom center,#118299 0,#010e28 98%),linear-gradient(-180deg,rgba(17,44,153,.5),rgba(17,44,153,0) 36%);
}

.site-header-post {
background: radial-gradient(92% 91% at bottom center,#991180 0,#010e28 98%),linear-gradient(-180deg,rgba(17,44,153,.5),rgba(17,44,153,0) 36%);
}

.header-container {
    color: white; 
    width: 100%;
    height: calc(100vh - 153px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2em;
    min-height: 465px;
    
    &.sm {
        height: calc(40vh - 153px);
    }

    > .site-branding {
        margin: 0 auto;
        max-width: 1130px;
        width: 100%;

        .site-title{
            width: 100%;
            font-size: 48px;
            letter-spacing: 1px;

            a {
                margin: 0;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                color: white;
        
                &:hover, &:focus, &:active {
                    color: white;
                }
            }
        }

        .site-description {
            font-size: 17px;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            color: white;
        }

        .social-links {
            margin-bottom: 1.5rem;
            font-size: 24px;

            > a {
                margin-right: 20px;
                transition: all .15s ease-in-out;
                
                > i {
                    margin-right: 10px;
                    transition: all .2s ease-in-out;
                }
                
            }
    
            > a.github:hover {
                color: var(--github);
            }
    
            > a.twitter:hover {
                color: var(--twitter);
            }
    
            > a.linkedin:hover {
                color: var(--linkedIn);
            }

        }

    }

}