.site-content {
	background-color: var(--main-gray-background);
	
	.container-lg {
		width: 100%;
		text-align: center;
		margin: 0 auto 0em auto;
	}

	.home-subtitle {
		background-color: white;
		-moz-box-shadow:    var(--box-shadow);
		-webkit-box-shadow: var(--box-shadow);
		box-shadow:         var(--box-shadow);
		display: inline-block;
	}

	.home-site-main {
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.grid {
			margin: 0 auto 2em auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}

		.home-hentry a img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
			height: 100px;
			width: 100px;
			margin: 0 auto 2rem;
			margin-top: 7px;
		}
		
		.home-hentry {
			text-align: center;
			padding: 6rem 2rem 6rem;
			display: block;
			-webkit-box-flex: 1;
			box-flex: 1;
			border-radius: 6px;
			position: relative;
			transition: all .1s linear;
			width: 100%;
			
			&:nth-of-type(2n) {
				background-color:white;
				-moz-box-shadow:    var(--box-shadow);
				-webkit-box-shadow: var(--box-shadow);
				box-shadow:         var(--box-shadow);
			}

			.container {
				width: 100%;
				max-width: 1130px;
				text-align: left;
				margin: 0 auto;
				padding: 0 2em;
				
				> h2  {
					> a {
						color: #222;
						line-height: 48px;
						font-size: 48px;
						color: #333;
						display: block;
					}

					&:hover {
						> a {
							text-decoration: underline;
						}
					}
				}
				
				> p.excerpt {
					font-size: 19px;
					padding:1.5rem 0;
				}
		
				.home-entry-footer {
					display: block;
					font-size: .85rem;
					width: 100%;
					text-align: right;
				}
			}
		}
	}
}

.post-container {
    margin: 20px auto;
    width: 100%;
    max-width: 1130px;
    text-align: left;
    padding: 2em;
    background-color:white;
    -moz-box-shadow:    var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow:         var(--box-shadow);
}

.content-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 2em;
}

.sticky {
	display: block;
}

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
	height: 100px;
	width: 100px;
	margin: auto;
	margin-top: 7px;
}