ul#primary-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.main-navigation {
	height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    padding-top: 60px; 
	transition: 0.5s; 
	/* position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background: #fff;
    padding-top: 60px;
    height: 100%;
    border-bottom: 2px solid #f2f2f2;
    z-index: 1500;
    -webkit-transition: -webkit-transform 150ms ease-in-out,left 500ms ease-in-out;
    -moz-transition: -moz-transform 150ms ease-in-out,left 500ms ease-in-out;
    transition: transform 150ms ease-in-out,left 500ms  */
	
}

 button.menu-toggle {
	display: block;
	position: absolute;
	background: none;
	border: none;
	top:0;
	right:0;
	padding: 10px 10px 35px 35px;
	color: white;
	transition: all 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	z-index: 2;
	font-size: 24px;
	cursor: pointer;
	outline:none;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;	
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	/* width: 200px; */
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	/* float: right;
	position: relative; */
}

/* .main-navigation > div > ul > li:last-of-type::after { */
	/* content: '\25CF'; */
    /* content: ' | ';
    position: absolute;
    right: -3%;
    font-size: 9px;
    top: 39%;
    color: rgb(255, 255, 255);
} */

/* .main-navigation > div > ul > li:not(:last-of-type)::after {
	content: ' | ';
	position: absolute;
	right: -4%;
	top: 28%;
	color: #00b9eb;
} */

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 20px 20px 20px 20px;
	text-transform: uppercase;
	font-size: 14px;
	color: #d9d9d9;
}

.main-navigation a:hover {
	color: #fff;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	cursor:'pointer'
}

.menu-toggle {
	display: none;
}
.main-navigation ul {
	display: block;
}

ul#primary-menu {
flex-direction: row;
}

/* nav.menu-primary-container {
	display: block;
	top: 0;
	right: 0;
	width: unset;
	position: absolute;
} */

nav.main-navigation {
background: 0 0;
border: 0;
padding-top: 0px;
position: absolute;
/* width:100%; */
}


 button.menu-toggle {
	display: none;
	cursor:'pointer'
}
