@mixin for-phone-only {
    @media screen and (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: 600px) and (max-width: 1200px) {
        @content;
    }
}