/* CUSTOM PALLETTE FROM MYCOLOR.SPACE */
/*
 * MAIN                 MATCHING    Highlighs
 * #243B55              #243B55     rgb(105, 137, 173)
 * #00637F              #465072
 * #008E96              #6C658D
 * #1EB893              #967AA6
 * #8EDC80              #C28FBA
 * #F9F871              #EEA5CB
 *                      
 */

 :root {
     --main-blue-fallback: #141E30; /* fallback for old browsers */
     --main-blue-gradient-webkit: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
     --main-blue-gradient: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     --main-blue: #243B55;
     --main-blue-highlight: rgb(105, 137, 173);
     --main-lightblue: #00637F;
     --main-gray-background: #f5f8fb;

     --secondary-lightblue: #008E96;

     --link-main: rgb(105, 137, 173);
     --link-hover: rgb(111, 178, 255);
     
     --aside-success: #6ac174;
     --aside-warning: #F9E471;
     --aside-danger: #d48589;

     --github: #9274c5;
     --twitter: #1DA1F2;
     --linkedIn: #0073b1;

     --box-shadow: 1px 1px 10px #e7e7e7;
     --box-shadow-hover: 0 15px 20px rgba(0,0,0,.1);

     --transition: all .1s ease-in-out;
 }

/************************************************************* */
/*********************** Custom Items ************************ */
/************************************************************* */

.btn-submit {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-submit:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
 
/*********************** styling ************************ */       

@include for-phone-only {

    input.search-field {
        height: 35px !important; 
        display: none;
    }
    
    body p {
        margin-bottom: 0.5rem !important;
        font-size: 15px;
    }
    
    .site-title {
        font-size:32px;
        margin-bottom: 0.5em;
    }

    .post-container {
        margin: 10px auto;
        padding: 0.5em;
        box-shadow: none;
    }

    .container {
        padding: 0 0.5em;
    }

    header > .header-container-sm {
        margin: 0 0.5em;
        padding: 0;
    }

    article.home-hentry {
        padding: 3rem 0.5rem 3rem;
    }

    article.home-hentry  h2 a {
        font-size: 28px;
        line-height: 28px;
    }
 
}

@include for-tablet {

    input.search-field.aa-input {
        height: 35px !important;
    }

    div.social-links {
        margin-bottom: 0.5em !important;
        font-size: 15px !important;
    }

    body, input {
        font-size: 0.8rem !important;
    }

    body p {
        margin-bottom: 0.5rem !important;
        font-size: 15px;
    }
    
    .site-title {
        font-size:24px !important;
        margin-bottom: 0.5rem !important;
    }

    .post-container {
        margin: 10px auto !important;
        padding: 0.5em !important;
    }

    .container {
        padding: 0 0.5em !important;
    }

    header > .header-container-sm {
        margin: 0 0.5em !important;
        padding: 0 !important;
    }

    article.home-hentry {
    padding: 3rem 0.5rem 3rem !important;
    }

    article.home-hentry > .container >  h2 > a {
        font-size: 28px !important;
        line-height: 28px !important;
    }

    .home-hentry > .container > p.excerpt {
        padding: 0.5rem 0 !important;
        font-size: 17px !important;
    }
}