/*********************** tags ************************ */

div.tags {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}

div.tags-header {
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
    max-width: 1130px;
}

div.tags-header > p {
    color: white;
    margin-bottom: 0;
}

span.tag {
    font-size: 13px;
    margin: 2px;
    padding: 12px;
    color: white;
        background-color: #9a4ff0;
    border-radius: 3px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px; 
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px; 
    display: inline-block;
    overflow-wrap: break-word;
    border-radius: 3px;

}
span {

    &.js {
        color: #333;
        background-color: #f0dc4f;
    }

    &.nodejs {
        background-color: #6ab04d ;
    }

    &.apache {
        background-color: #842879 ;
    }

    &.linux {
        background-color: #414141 ;
    }

    &.terminal {
        background-color: #414141  ;
    }

    &.bootstrap {
        background-color: #481b88  ;
    }

    &.css {
        background-color: #28aae1 ;
    }

    &.html {
        background-color: #e34c25 ;
    }

    &.jquery {
        background-color: #1068ad ;
    }

    &.jekyll {
        background-color: #c10000 ;
    }

    &.docker {
        background-color: #099cec ;
    }

    &.git {
        background-color: #f34f29 ;
    }

    &.grunt {
        color: #333;
        background-color: #fba919 ;
    }

    &.sass {
        background-color: #cd6799 ;
    }

    &.ubuntu {
        background-color: #e95420 ;
    }

    &.mongodb {
        background-color: #589636;
    }
}

@include for-phone-only {
    div.tags-header {
        width: 100%;
        margin: 0;
    }
    span.tag {
        padding: 8px;
        font-size: 10px;
    }
}

@include for-tablet {
    div.tags-header {
        width: 100%;
        margin: 0;
    }
    span.tag {
        padding: 8px;
        font-size: 10px;
    }
}