
a.subcats {
    display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex: 1 1 150px;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-direction: normal;
	box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	-webkit-box-align: center;
	box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px 5px;
    margin: 2px;
    font-size: .9rem;
    font-weight: 400;
    background: #fff;
    color: #111;
    font-family: Nunito,sans-serif;
    border: 1px solid #f0f0f0;
	transition: all .1s linear;
	width: 100%;
	justify-content: space-between;
}

a.subcats:hover {
    -webkit-transform: translate3D(0,-2px,0) scale(1.01);
    transform: translate3D(0,-2px,0) scale(1.01);
    background: #fff; 
    text-decoration: none;
	color: #222;
	-moz-box-shadow: var(--box-shadow-hover);
	-webkit-box-shadow: var(--box-shadow-hover);
    box-shadow: var(--box-shadow-hover);
}

a.subcats > img {
	max-height: 75px;
	max-width: 170px;
	margin: auto;
}

a.subcats > p {
	margin: 0;
	color: rgb(105, 137, 173);
}
